<div class="container">
	<form id="login-form" action="" class="row">
		<div class="row form-group">
			<div class="col m12">
				<input type="text" placeholder="Username" ng-model="formData.username">
			</div>
		</div>
		<div class="row form-group">
			<div class="col m12">
				<input type="password" placeholder="Password">
			</div>
		</div>
		<div class="row form-group">
			<label for="" class="col m6"><input type="checkbox"> Remember Me</label>
			<button class="col m6 btn-default">LOGIN</button>
		</div>
	</form>
</div>