//
// Colors
// --------------------------------------------------

	$brown: (
		"base": #797266
	);

	$gray: (
		"lighter": #d8d8d8, // header text
		"light": #cfcfcf, // placeholder
		"base": #242424,
		"dark": #7b7b7b,
		"darker": #666,
		"darkest": #383838,
		"body": #242424,
		"input": #4e4e4e
	);

	$orange: (
		"base": #ed5431,
		"darker": #d83813
	);

	$blue: (
		"base":       #3fa0fc
	);

	$black: (
		"base": #000,
		"devil": #666,
		"darker": #373737
	);

	$pink: (
	    "base": #ef7381
	);

	$green: (
		"base": #809a00
	);

	$red: (
		"lighten-5":  #FFEBEE,
		"lighten-4":  #FFCDD2,
		"lighten-3":  #EF9A9A,
		"lighten-2":  #E57373,
		"lighten-1":  #EF5350,
		"base":       #F44336,
		"darken-1":   #E53935,
		"darken-2":   #D32F2F,
		"darken-3":   #C62828,
		"darken-4":   #B71C1C,
		"accent-1":    #FF8A80,
		"accent-2":    #FF5252,
		"accent-3":    #FF1744,
		"accent-4":    #D50000
	);

	$white: (
		"base": #fff
	);

	$colors: (
		"brown": $brown,
		"gray": $gray,
		"green": $green,
		"red": $red,
		"white": $white,
		"blue": $blue,
		"black": $black,
		"pink": $pink,
		"orange": $orange
	);

// Backgrounds
//----------------------

	/*
		// Font
		// =================
			Helvetica 67
			Helvetica 57
			Helvetica 35
			Helvetica 25
			Trajan

			12px body text
			10px disclaimers

		// Buttons
		// =================
			142px
			180px
			163px 38p
			202px 15p
			232px // tabs
	*/

@function color($color, $type) {
	@if map-has-key($colors, $color) {
		$curr_color: map-get($colors, $color);
		@if map-has-key($curr_color, $type) {
			@return map-get($curr_color, $type);
		}
	}
	@warn "Unknown `#{name}` in $colors.";
	@return null;
}

@each $color_name, $color in $colors {
	@each $color_type, $color_value in $color {
		@if $color_type == "base" {
			.#{$color_name} {
				background-color: $color_value !important;
			}
			.#{$color_name}-text {
				color: $color_value !important;
			}
		}
		@else {
			.#{$color_name}.#{$color_type} {
				background-color: $color_value !important;
			}
			.#{$color_name}-text.text-#{$color_type} {
				color: $color_value !important;
			}
		}
	}
}
