//
// Custom Stylings
// --------------------------------------------------

// Dev
// =====================
	pre.dev {
		@include box-shadow(0 1px 2px #aaa);
		@include animation(fly-in-from-left .5s 1s ease both);
		// @include transform-origin(top left);
		@include translate(-50%, 0);
		position: fixed;
		left: 50%;
		bottom: 10px;
		padding: 1.5rem;
		margin-top: 50px;
		color: white;
		background: color("gray", "base");
		border-radius: 3px;
	}

	@include keyframes(fly-in-from-left) {
		from {
			@include transform(translateY(15rem) rotate(15deg));
			opacity:0;
		}
	}